/* @mixin btn {
    display: inline-block;
    padding: 10px 30px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 25px;
}
.btn--default{
    @include btn;
    background-color: black;
    color: white;
}
.btn--danger{
    @include btn;
    background-color: tomato;
    color: black;
}

@mixin btnAlert ($txtColor, $bgColor) {
    display: inline-block;
    padding: 10px 30px;
    font-family: sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 25px;
    color: $txtColor;
    background-color: $bgColor;
} 
*/


/* EXTEND */
/* .boxImg {
    width: 320px;
    height: auto;
    border: 1px solid black;
}
.boxImg--full{
    @extend .boxImg;
    width: 100%;
    background-color: black;
} */

