
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
$mainFont: 'Prompt', sans-serif;

/* COLORES */
$headerFooter: #000f33;
$mainColor: #FBFDED;
$popColor: #eb4b10;


/* RESPONSIVE */
$mobile: 576px;
$tablet: 768px;
$desktop: 1200px;